<html>
    <head>
        <title>cookEat好主義</title>
        <style>
              body { font: 80%  微软雅黑;
                   }
             input {font: 50%  微软雅黑;
                   }
             h1 {font: 250%  微软雅黑;
                 margin:15; }

        </style>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    </head>

    <body BGCOLOR=#FFD1A4>
        <CENTER>
            <BR>
            <BR>
            <BR>
            <BR>
            <BR>
            <BR>
        <h1>感謝您的回覆~</h1>
        <h1>請點選右上角關閉視窗</h1>
        </CENTER>

    </body >
</html>